Serenity/Serenity/obj
Serenity/Serenity/bin
Serenity/Serenity.Android/obj
Serenity/Serenity.Android/bin
Serenity/Serenity.iOS/obj
Serenity/Serenity.iOS/bin
Serenity/Serenity.UWP/obj
Serenity/Serenity.UWP/bin
